
<h4>The Problem</h4>
<p>
  So, you're coder. Hopefully you use some kind of convention, either chosen by yourself or forced onto you by team/project standards. That's great. But do you know that this convention blows?
  
</p>
<p>Let's look at Jack and Jill. They both code in same language and they are keeping their code neat and clean by using code convention. They never met and so their conventions aren't exactly the same, but share some similarities in a way that:
  <div class="centered"><img src="/articles/why_every_coding_convention_blows/coding_convention.png"/></div>
</p>
<p>
  It's pretty similar, but it's not the same. Let's now clash Jack's convention against Jill's. What would they think about the difference? If either of them would be nice coder (and I'm going to assume most of us are), they would probably say that it's OK and work through the differences. Probably some inconsistencies would arise and it would darken the resulting code a bit, but the impact wouldn't be that big.
  
</p>
<p>
  Look again at the graphic above and think about the differences for a moment. It's the "this convention blows" factor between them. Now, imagine that there is more than just Jack & Jill. Add Peter, Steven, Andrew, Joey, Lisa, Ann and think about coding convention differences between them and how the "this convention blows" factor increases into the infinity with each developer added into the equation.
  
</p>
<p>I hear you telling me - Wait a sec! That's just pure nonsense! Most of the people in single language group use very similar coding convention, just check Python's <a href="http://www.python.org/dev/peps/pep-0008/">PEP-8</a> or Java's <a href="http://www.oracle.com/technetwork/java/codeconv-138413.html">Code Convention for the Java Programming Language</a>.</p>
<p>
  You're absolutely right about this. There are guidelines for various languages and some people are very protective about them while other just blissfuly ignore it. On the other side of the coin when doing standard web development, you're most likely to encounter at least 2 languages: Backend language (PHP, Python, Ruby just to name a few) and front end language (JavaScript or something similar), both of them having different coding conventions. Not mentioning what happens if you're using more complex solutions, such as external libraries adapters. And each and every one language you use has other coding style it proposes.
  
</p>
<p>Things are getting even more ugly when you're using PHP, since every single framework and library has it's own convention - <a href="http://programmers.stackexchange.com/questions/149303/naming-classes-methods-functions-and-variables/149321#149321">oops</a>.</p>
<h4>Single point of failure</h4>
<p>
  Cause of this problem is the way how people adapt programming. Most of the people I know (including me) started programming with some tutorials, worked through them to produce working solution, and voila - the work is done.
  
</p>
<p>While some of the people dig deeper working through another tutorials and even pursue scientific background for programming, it's not the common path. That's why, even though some standards do exists (like aforementioned PEP-8, or some created by global standard issuing bodies like <a href="http://www.omg.org/">OMG</a>) people aren't interested until they are made to work in team environment, when code clarity actually matters.</p>
<p>
  This in turn, causes that even if Golden Standard for programming should arise, nothing guarantees that it will be adapted in every (or at least most) programming projects.
  
</p>
<h4>Day after tomorrow</h4>
<p>There is, however, hope for the future. With development of various IT development tools and programming stacks, various tools quietly steps into such development packages. To name a few - awesome in my opinion <a href="http://editorconfig.org/">Editor Config</a>, which standardizes such properties like indenting. Other are Linters, which are one of the best tools programmer might use.</p>
<p>
  And so it's possible that one day, solution which will keep coding convention such as variable and property naming, block formatting etc. for every single language, so no matter if you're programming in Java, JavaScript, PHP, Perl, Python or C++.
  
</p>
<p>
  And then when differences between two coding conventions will be brought to zero the "blow factor" for them will be zero as well.
  
</p>