
<div class="span10 offset1">
  <div class="row">
    <div class="span4 contact-conditions">
      <h3>Contact me if you...</h3>
      <ul>
        <li>...have some impossible problem to solve</li>
        <li>...want to comment on something here</li>
        <li>...want to connect</li>
        <li>...want to exchange experiences</li>
        <li>...want commercial services, such as:
          <ul>
            <li>...coding</li>
            <li>...software design</li>
            <li>...consulting</li>
            <li>...trainings</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="span4 offset2 contact-conditions">
      <h3>Don't contact me if you...</h3>
      <ul>
        <li>...want to sell me some weird medicine</li>
        <li>...want UI design</li>
        <li>...want to argue for superiority of X over Y</li>
        <li>...are looking for full-time on-site employee</li>
        <li>...are a recruiter</li>
      </ul>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="span10">
      <h3 class="centered">Contact me:
        <button id="copy_button" class="btn btn-large centered">Copy e-mail to clipboard</button>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="span6 offset2">
      <div id="email_copied" class="centered alert alert-success">My e-mail address is in your clipboard.<br/> Can't wait to hear from you! </div>
      <p class="centered"><small>Click to copy my e-mail address into your clipboard.<br/><i>Note: this solution uses Flash, so make sure it's running.</i></small></p>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="span6 offset2 centered">
      <p>You can also check<br/><a href="http://linkedin.com/in/przemyslawkaminski"><img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View Przemysław Kamiński's profile on LinkedIn"/></a></p>
    </div>
  </div></a>
</div>