
<h4>Problem</h4>
<p>
  Aiding accounting department with calculations and reports
  which use complex data factors.
  
</p>
<h4>My contribution</h4>
<p>
  I were responsible for design and implementation of final report cards,
  which constituted in multiple, often retrospective factors. I designed it using
  Chain of responsibility pattern and provided methods for implementation by other
  team members, which were used in final result. I had also persisted whole result
  to avoid retroactive parameters change.
</p>
<h4>Things that I'm especially proud of</h4>
<p>
  Simplicity and extensibility of design and that despite it's still in use
  and modified I haven't heard any bad words about it.
  
  
</p>