
<h4>Problem</h4>
<p>
  Every couple hours huge amount of data (single package being up to ~4 GB) has been exported
  by the client to multiple external vendors. As the export network rose efficency problems arrised
  and couldn't keep up with marketing requirements.
</p>
<h4>Solution</h4>
<p>
  Since transformation were working and were too complex to re-create from the scratch, new application
  design had to reuse existing components. Design phase took that into mind and provided highly modular,
  stateless solution which allowed not only for easy clustering, but also allowed for use cache component
  for qualified calculations.
</p>
<h4>Design Trivia
  <Solution>was created with MQ as a base point.</Solution>
</h4>