
<h4>Problem</h4>
<p>
  Client had to create multiple, multi-field, formal documents, which shared
  some data, but varied on data characteristic (i.e. data required in single document
  might had been optional in another one). Data had to be stored in a way,
  that would allow data comparison and reporting.
  
</p>
<h4>My contribution</h4>
<p>
  I was in responsible for design and implementation of document system
  and importing ~50 document templates into it. Document system was based
  on the field and allowed extensibility to the point where modification
  of single field would constraint other.
  
</p>
<h4>Things that I'm especially proud of</h4>
<p>
  While last stage of implementation provided major change of requirements
  and modification to data structures the system could be modified to fit new 
  
</p>