
<div class="span10 offset1">
  <div id="homeheader" class="row">
    <div class="span5">
      <div class="home-double-container">
        <h3>Latest article</h3>
        <h4><a href="#articles">{{ latest_article.title }}</a></h4>
        <p>
          {{ latest_article.summary }}
          
        </p>
      </div>
    </div>
    <div class="span5">
      <div class="home-single-container">
        <h3>Link Of The Month</h3>
        <h4><a href="http://editorconfig.org/">Editor Config</a></h4>
      </div>
      <div class="home-single-container">
        <h3>Technology Of The Month</h3>
        <h4><a href="http://angularjs.org/">Angular JS</a></h4>
      </div>
    </div>
  </div>
</div>
<div class="row"></div>
<div class="span10 offset1">
  <hr/>
  <div class="why_this_site">
    <h4>Why this site?</h4>
    <p>
      Unfortunately during my career I was dumb enough to not care enough for digital portfolio.
      On the other side of the coin I realized that soon enough and decided to act. Here you can find
      some information about me and some works I did.
    </p>
    <p>
      It's not easy to summarize 5 years of commercial experience and few earlier years of non-commercial,
      hobby-based activities, especially if one doesn't care about social stuff and there is nothing
      else to trace than e-mail and chats and so this information you can find here are hardly from complete.
    </p>
    <p>
      I'll also occasionaly put some IT-related thoughts and solutions in <a href="#articles">articles</a> section,
      so stay tuned.
      
    </p>
  </div>
</div>