
<h4>Problem</h4>
<p>
  Request for the API for semi-public data for the application.
  Root of the problem was providing efficent and secure data channel
  while providing data mapping and auth/logging middleware. Additional
  request was that API server should be separated from main application
  server
</p>
<h4>Solution
  <Solution>was decomposited into two parts - first was database layer, which included</Solution>
  <mapped>replication of data. Second was proper API application.</mapped>
  <Application>design took into account possible clustering needs.</Application>
</h4>