
<div class="span10 offset1">
  <p class="centered"> <small>(in no particular order)</small></p>
  <div class="row">
    <div class="span10">
      <h3>Independent works</h3>
      <div class="span9 offset1">
        <div class="row">
          <div class="span3">
            <h4>This site :-)</h4>
            <p>
              Built in less than a week, with 3/4 of the time focused
              on graphical design and text completion.
            </p>
            <p>Solution was built using:
              <ul>
                <li>AngularJS (Routing, some dynamic data binding)</li>
                <li>Twitter Bootstrap CSS Framework</li>
                <li>jQuery &amp; jQuery UI for some fancy effects</li>
                <li>Colourlovers background pattern</li>
                <li>CoffeeScript &amp; Jade wrapped in Brunch</li>
              </ul>
            </p>
          </div>
          <div class="span3">
            <h4>XLS Report builder from MySQL</h4>
            <p>
              XLS reporting solution along with simple search engine.
              Small challenge was in data binding, since data structures consisted in
              4 data layers which had to be bound accordingly to the result.
            </p>
            <p>Solution was built using:
              <ul>
                <li>CodeIgniter</li>
                <li>PHPExcel library</li>
              </ul>
            </p>
          </div>
          <div class="span3">
            <h4>Extension of Twitter Bootstrap Carousel in form of jQuery plugin</h4>
            <p>
              Client requested additional Twitter Bootstrap features, which extended
              existing functionallity. Unfortunatelly due to event handling <a href="https://github.com/twitter/bootstrap/issues/5747">bug </a>new event handling system had to be made.
            </p>
            <p>Solution was built using:
              <ul>
                <li>Twitter Bootstrap</li>
                <li>jQuery</li>
                <li>Pure JavaScript</li>
              </ul>
            </p>
          </div>
          <div class="span3">
            <h4>JavaScript adapter for Java Language checking library</h4>
            <p>
              Client wanted to integrate Java based spell/grammar checking solution
              into his websites. Main problem was integrating in properly into
              existing solution and resolving dependency hell.
            </p>
            <p>Solution was built using:
              <ul>
                <li>Raw JavaScript</li>
                <li>Raw PHP</li>
              </ul>
            </p>
          </div>
          <div class="span3">
            <h4>SMS Gateway Proxy</h4>
            <p>
              Client needed proxy solution, which would log and forward
              SMS requests to appropriate vendor.
              Main problem was providing interface for vendors
              so that every vendor could be set up during configuration phase.
            </p>
            <p>Solution was built using:
              <ul>
                <li>Raw PHP</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span10">
      <h3>Key works in collaboration with <a href="http://voxcommerce.pl">Voxcommerce Group sp. z o.o.</a></h3>
    </div>
  </div>
  <div class="row">
    <div class="span10">
      <div class="media portfolio"><a href="http://homebroker.pl"><img src="img/portfolio/homebroker.png" width="150" height="150" class="media-object pull-left img-circle"/></a>
        <h4 class="media-header"><a href="http://homebroker.pl">Home Broker</a></h4>
        <div class="media-body">
          <h5>Description</h5>
          <p>
            Home Broker is one of the largest real estate companies in Poland.
            It employs over 900 advisors and has 50 outlets in 30 Polish cities.
          </p>
          <p>
            Jobs for Home Broker included works on the company internal systems
            as well as some minor modifications to the website.
            
          </p>
          <h5>Key contribution</h5>
          <ul>
            <li>Implementation of recruitment module</li>
            <li>Implementation of payment tracking system module</li>
            <li>Contribution to implementation of accounting module</li>
            <li>Implementation of financial applications module</li>
            <li>Technical design of export sub application</li>
            <li>Database/application optimization and clustering</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span10">
      <div class="media portfolio"><a href="http://magazyny.pl"><img src="img/portfolio/magazyny.png" width="150" height="150" class="media-object pull-left img-circle"/></a><a href="http://magazyny.pl">
          <h4 class="media-header">Magazyny.pl (Jones Lang La Salle)</h4></a>
        <div class="media-body">
          <h5>Description</h5>
          <p>
            Jones Lang LaSalle Incorporated is a multinational financial and professional services company specializing in real estate. Global headquarters are located in Chicago, with an operational remit covering the Americas regional market. Sub-headquarters operate in London (covering the Europe, the Middle East and Africa regional market) and Singapore (covering the Asia Pacific regional market).
            
          </p>
          <p>
            Works for Jones Lang LaSalle included working on the backend system for Eastern Europe branch
            as well as specialized frontend solutions e.g. <a href="http://magazyny.pl">magazyny.pl</a>
          </p>
          <h5>Key contribution</h5>
          <ul>
            <li>Technical design of API system</li>
            <li>Bottleneck resolving</li>
            <li>Application sharding</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span10">
      <div class="media portfolio"><a href="http://metrohouse.pl"><img src="img/portfolio/metrohouse.png" width="150" height="150" class="media-object pull-left img-circle"/></a><a href="http://metrohouse.pl">
          <h4 class="media-header">Metrohouse</h4></a>
        <div class="media-body">
          <h5>Description</h5>
          <p>Metrohouse & Partnerzy SA is a real estate company, which comprises more than 70 sales teams, 800 real estate brokers, advisors and locations in most provinces. The company expands its sales network based on its own and franchised establishments.</p>
          <p>
            Works for Metrohouse included major support of technical facilities and working on
            such backend solutions as data import and integration of partner services.
            
          </p>
          <h5>Key contribution</h5>
          <ul>
            <li>Code upgrade</li>
            <li>Data import management</li>
            <li>Database maintenance</li>
            <li>Database clustering</li>
            <li>Internal systems maintenance (e-mail, servers etc.)</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="span10">
      <div class="media portfolio"><a href="http://nowyadres.pl"><img src="img/portfolio/etargi.png" width="150" height="150" class="media-object pull-left img-circle"/></a><a href="http://etargi.nowyadres.pl">
          <h4 class="media-header">eTargi (Nowy Adres)</h4></a>
        <div class="media-body">
          <h5>Description</h5>
          <p>
            Nowy Adres is a company which provides specialized toolsets for real estate companies,
            such as exhibitions, conferences, market research and industry publishing and websites.
          </p>
          <p>
            Works for Nowy Adres focues on eTargi - virtual exhibition platform, which allows
            real estate exhibitors to provide customised products in exhibition-like envrionment.
            
          </p>
          <h5>Key contribution</h5>
          <ul>
            <li>Design and development of search engine solution</li>
            <li>Design and development of data import solution.</li>
            <li>Statistics module for application backend.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>