
<div class="span10 offset1">
  <div class="row">
    <div class="span10 random-reference">
      <h3>Random Reference</h3>
      <div id="random-reference" class="span4 offset3">{{ random_reference }}</div>
    </div>
  </div>
  <div class="row clients-references">
    <div class="span10">
      <h3>Clients/Employers</h3>
      <div class="span4">
        <blockquote>
          <p>(...) professionalism, ease of communication, responsiveness, incredible analytical skills - these are just some of the features of Mr. Kaminski, who allowed us to achieve the afformentioned goals</p><small>S. Gąsiorowski - CMO @ Home Broker<a href="img/hb_referencje.jpg" data-target="#lightbox" class="refimg"><br/> (see full text in Polish) </a></small>
        </blockquote>
        <blockquote>
          <p>As a developer myself, I highly recommend xlii for his code quality which translates to a high degree of attention to detail and the desire to do things right.</p><small>mmgincvw @ Freelancer</small>
        </blockquote>
      </div>
      <div class="span4 pull-right">
        <blockquote>
          <p>Very fast and professional worker who understand the job and delivers before the deadline.</p><small>webfirstsl @ Freelancer</small>
        </blockquote>
        <blockquote>
          <p>He understood what we wanted immediately and had a working demo for us to look at within a few hours..</p><small>Namesellers @ Freelancer</small>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="row colleagues-references">
    <div class="span10">
      <h3>Colleagues</h3>
      <div class="well centered"><i>Still gathering. Check back soon.</i></div>
    </div>
  </div>
</div>